<div class="fm-dashboard">
  <!-- menu lateral reaproveitável -->
  <app-sidebar></app-sidebar>

  <!-- conteúdo da página -->
  <main class="fm-dashboard__content">
    <h1 class="fm-dashboard__title">
      Visão geral do seu negócio
    </h1>

    <div class="fm-dashboard__grid">
      <!-- Faturamento Geral -->
      <section class="fm-dashboard-card">
        <h3>Faturamento Geral:</h3>
        <p class="fm-dashboard-card__value">
          {{ faturamentoGeral | currency: 'BRL':'symbol':'1.2-2'}}
        </p>
      </section>

      <!-- Ticket Médio -->
      <section class="fm-dashboard-card">
        <h3>Ticket médio:</h3>
        <p class="fm-dashboard-card__value">
          {{ ticketMedio | currency: 'BRL':'symbol':'1.2-2'}}
        </p>
      </section>

      <!-- Nº Alunos Matriculados -->
      <section class="fm-dashboard-card">
        <h3>Número de alunos matriculados:</h3>
        <p class="fm-dashboard-card__value">
          {{ numeroAlunos }} aluno{{ numeroAlunos === 1 ? '' : 's' }}
        </p>
      </section>

      <!-- Plano mais vendido -->
      <section class="fm-dashboard-card">
        <h3>Plano mais vendido :</h3>
        <p class="fm-dashboard-card__value">
          {{ planoMaisVendido }}
        </p>
      </section>
    </div>
  </main>
</div>
