<section class="fm-pricing">
  <div class="fm-pricing__container">
    <h2 class="fm-pricing__title">
      Encontre o plano certo para sua academia
    </h2>

    <p class="fm-pricing__subtitle">
      Comece grátis e evolua conforme sua academia cresce.
    </p>

    <div class="fm-pricing__grid">
      <!-- PLANO START -->
      <div class="fm-pricing-card">
        <h3>Start</h3>
        <p class="fm-pricing-card__tagline">
          Para academias em validações
        </p>

        <p class="fm-pricing-card__price">
          R$0,00/mês
        </p>

        <p class="fm-pricing-card__item">
          <span class="fm-pricing-card__check">✓</span>
          Até 20 alunos
        </p>

        <button class="fm-pricing-card__btn" routerLink="/cadastro">
          Começar
        </button>
      </div>

      <!-- PLANO PRO -->
      <div class="fm-pricing-card">
        <h3>Pro</h3>
        <p class="fm-pricing-card__tagline">
          Para academias em crescimento
        </p>

        <p class="fm-pricing-card__price">
          R$59,00/mês
        </p>

        <p class="fm-pricing-card__item">
          <span class="fm-pricing-card__check">✓</span>
          Até 150 alunos
        </p>

        <button class="fm-pricing-card__btn" routerLink="/cadastro">
          Começar
        </button>
      </div>

      <!-- PLANO MASTER -->
      <div class="fm-pricing-card">
        <h3>Master</h3>
        <p class="fm-pricing-card__tagline">
          Para academias consolidadas
        </p>

        <p class="fm-pricing-card__price">
          R$79,00/mês
        </p>

        <p class="fm-pricing-card__item">
          <span class="fm-pricing-card__check">✓</span>
            +150 alunos
        </p>

        <button class="fm-pricing-card__btn" routerLink="/cadastro">
          Começar
        </button>
      </div>
    </div>
  </div>
</section>
